/*Sử dụng độ động toàn trang*/
div#ToanTrang{
    position:relative;
}
/*Thiết kế link đăng ký đăng nhập*/
.DangKyDangNhap{
    float:right;
    margin-top:-1%;
}
.DangKyDangNhap a:hover{
    text-decoration:none;
    color:dodgerblue;
}
.DienThoai{
    margin-top:-1%;
    float:left;
}
/*css divDanhmuc*/
#divDanhMuc{
    height:30px;
}
/*css cho mên header*/
.mavMenu{
    float:right;
    margin-right:10%;
}
.mavMenu li{
    display:inline;
    border-right:solid 1px rgba(0,0,0,.);
    padding:20px;
    padding-top:21px;
    padding-bottom:22px;
    background-color:rgb(128, 128, 128) 
}
/*css hover thay doi mau cham*/
    .mavMenu li:hover {
        background-color:rgba(0,0,0,.5);
       
    }
.mavMenu a:hover{
    text-decoration:none;
}
/*css div TimKiem*/
#txtTimKiem{
    float:left;
    margin-left:5%;
}
#txtTimKiem input{
    height:0;
    
}
/*hình ảnh img*/
#img{
    float:right;
    width:900px;
    height:300px;
}
 
#divMenuLeft{
    float:left;
}


